/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: Note;
	border-collapse: separate;
	border-left-style: solid;
	border-left-width: 2px;
	border-left-color: #000000;
	border-right-style: solid;
	border-right-width: 2px;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-width: 2px;
	border-top-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: #000000;
	max-id: 3;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
	cell-padding-left: 0px;
	cell-padding-right: 0px;
	cell-padding-top: 0px;
	cell-padding-bottom: 0px;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 0px;
	separator-color: #000000;
	name: Column1;
	id: 0;
	cell-padding-left: 0px;
	cell-padding-right: 0px;
	cell-padding-top: 0px;
	cell-padding-bottom: 0px;
	vertical-align: top;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 0px;
	separator-color: #000000;
	name: Body1;
	id: 1;
	cell-padding-left: 0px;
	cell-padding-right: 0px;
	cell-padding-top: 0px;
	cell-padding-bottom: 0px;
	vertical-align: top;
}


/* Cell Styles: */
 
.TableStyle-Note
{
	border-collapse: separate;
	border-left-style: solid;
	border-left-color: #000000;
	border-left-width: 2px;
	border-right-style: solid;
	border-right-color: #000000;
	border-right-width: 2px;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 2px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
	border-spacing: 0px 0px;
}

.TableStyle-Note-Column-Column1
{
	
}

.TableStyle-Note-HeadI-Column1-
{
	vertical-align: top;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-Note-HeadI-Column1- p
{
	
}

.TableStyle-Note-HeadE-Column1-
{
	vertical-align: top;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Note-HeadE-Column1- p
{
	
}

.TableStyle-Note-HeadF-Column1-
{
	vertical-align: top;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-Note-HeadF-Column1- p
{
	
}

.TableStyle-Note-HeadH-Column1-
{
	vertical-align: top;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Note-HeadH-Column1- p
{
	
}

.TableStyle-Note-HeadD-Column1-
{
	vertical-align: top;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-Note-HeadD-Column1- p
{
	
}

.TableStyle-Note-HeadC-Column1-
{
	vertical-align: top;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-Note-HeadC-Column1- p
{
	
}

.TableStyle-Note-HeadB-Column1-
{
	vertical-align: top;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Note-HeadB-Column1- p
{
	
}

.TableStyle-Note-HeadA-Column1-
{
	vertical-align: top;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-Note-HeadA-Column1- p
{
	
}

.TableStyle-Note-HeadG-Column1-
{
	vertical-align: top;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-Note-HeadG-Column1- p
{
	
}

.TableStyle-Note-FootI-Column1-
{
	vertical-align: top;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-Note-FootI-Column1- p
{
	
}

.TableStyle-Note-FootE-Column1-
{
	vertical-align: top;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Note-FootE-Column1- p
{
	
}

.TableStyle-Note-FootF-Column1-
{
	vertical-align: top;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-Note-FootF-Column1- p
{
	
}

.TableStyle-Note-FootH-Column1-
{
	vertical-align: top;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Note-FootH-Column1- p
{
	
}

.TableStyle-Note-FootD-Column1-
{
	vertical-align: top;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-Note-FootD-Column1- p
{
	
}

.TableStyle-Note-FootC-Column1-
{
	vertical-align: top;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-Note-FootC-Column1- p
{
	
}

.TableStyle-Note-FootB-Column1-
{
	vertical-align: top;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Note-FootB-Column1- p
{
	
}

.TableStyle-Note-FootA-Column1-
{
	vertical-align: top;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-Note-FootA-Column1- p
{
	
}

.TableStyle-Note-FootG-Column1-
{
	vertical-align: top;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-Note-FootG-Column1- p
{
	
}

.TableStyle-Note-Body-Body1
{
	
}

.TableStyle-Note-BodyI-Column1-Body1
{
	vertical-align: top;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-Note-BodyI-Column1-Body1 p
{
	
}

.TableStyle-Note-BodyE-Column1-Body1
{
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	vertical-align: top;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Note-BodyE-Column1-Body1 p
{
	
}

.TableStyle-Note-BodyF-Column1-Body1
{
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	vertical-align: top;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-Note-BodyF-Column1-Body1 p
{
	
}

.TableStyle-Note-BodyH-Column1-Body1
{
	vertical-align: top;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Note-BodyH-Column1-Body1 p
{
	
}

.TableStyle-Note-BodyD-Column1-Body1
{
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	vertical-align: top;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-Note-BodyD-Column1-Body1 p
{
	
}

.TableStyle-Note-BodyC-Column1-Body1
{
	vertical-align: top;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-Note-BodyC-Column1-Body1 p
{
	
}

.TableStyle-Note-BodyB-Column1-Body1
{
	vertical-align: top;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Note-BodyB-Column1-Body1 p
{
	
}

.TableStyle-Note-BodyA-Column1-Body1
{
	vertical-align: top;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-Note-BodyA-Column1-Body1 p
{
	
}

.TableStyle-Note-BodyG-Column1-Body1
{
	vertical-align: top;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-Note-BodyG-Column1-Body1 p
{
	
}


